{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}

  <div class="parallax-section1">


        <div class="CTAwrapper">
            <div class="CTA">
            <h1 class="CTAHEAD">Common Sunscreen Ingredients</h1>
            <p> <b>Avobenzone</b>
                <br/>
                - a common active ingredient that only lasts for 30 minutes and can cause skin irritation, such as rashes and acne.
                <br/>
                Benzophenone
                <br/>
                - can cause photoallergy, dermatitis and facial erythema
                <br/>
                Butyloctyl Salicylate
                <br/><br/>
                Cylcopentasiloxane / Cyclomethicone
                <br/><br/>
                Diazolidinyl urea
                <br/><br/>
                DMDM Hydantoin
                <br/><br/>
                Formaldehyde
                <br/><br/>
                Fragrance
                <br/><br/>
                Homosalate
                <br/><br/>
                Hydroxymethylglycinate
                <br/><br/>
                Methylisothiazolinone
                <br/><br/>
                Nano Zinc oxide
                <br/><br/>
                Octinoxate
                <br/>
                <br/>
                Octocrylene
                <br/><br/>
                Octyl methoxycinnamate
                <br/><br/>
                Quaternium-15
                <br/><br/>
                Retinyl palmitate
                <br/><br/>
                Sodium laureth sulfate
                <br/><br/>
                Sodium lauryl sulfate
                <br/><br/>
            </p>

        </div>
        </div>

    </div>
<div class="parallax-section1">
        <div class="CTAwrapper">
            <div class="CTA">
        </div>
        </div>

    </div>
{% endblock %}


