{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<div class="formWrapper">
        <h1> Text Upload </h1>
        <div class="mainUploadDiv">
            <form method="POST" action="/addItem" class="textForm">
                <label for="addText" id="addText">Enter Sunscreen Ingredients Below</label>
                <textarea placeholder="Enter Sunscreen Ingredients" rows="30" cols="100"></textarea>
                <button>Submit</button>
            </form>

        </div>
</div>
{% endblock %}