{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<div class="formWrapper">
    <div class="uploadDiv">
        <div class="mainUploadDiv">
            <h1 class="imageUploadH1">Text Upload</h1>
            <form method="POST" action="/addItem" class="formflex">
                <label for="addText" id="addText"></label>
                <textarea type="text" name="addText" class="textarea"></textarea>
                <button class="coolButton">Submit</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}